[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agate = "==1.6.0"
altgraph = "==0.15"
Babel = "==2.5.3"
censusbatchgeocoder = "==0.0.17"
certifi = "==2018.1.18"
chardet = "==3.0.4"
future = "==0.16.0"
idna = "==2.6"
isodate = "==0.6.0"
leather = "==0.3.3"
macholib = "==1.9"
numpy = "==1.14.0"
pandas = "==0.22.0"
parsedatetime = "==2.4"
pefile = "==2017.11.5"
PyInstaller = "==3.3.1"
"pypiwin32" = {version = "==220", sys_platform = "== 'win32'"} 
"PyQt5" = "==5.10"
python-dateutil = "==2.6.1"
python-slugify = "==1.2.4"
pytimeparse = "==1.1.7"
pytz = "==2018.3"
requests = "==2.18.4"
SIP = "==4.19.7"
six = "==1.11.0"
Unidecode = "==1.0.22"
"urllib3" = "==1.22"
"pyqt5" = "==5.10"

[dev-packages]

[requires]
python_version = "3.6"
